.flex {
  display: flex;
  flex-wrap: wrap; }
  .flex.align-center {
    align-items: center; }
  .flex.justify-center {
    justify-content: center; }
  .flex.align-top {
    align-items: flex-start; }
  .flex.justify-start {
    align-items: flex-start; }
  .flex.align-bottom {
    align-items: flex-end; }
  .flex.justify-end {
    justify-content: flex-end; }
  .flex.justify-between {
    justify-content: space-between; }
  .flex.justify-around {
    justify-content: space-around; }
  .flex.justify-even {
    justify-content: space-evenly; }
  .flex.flex-spacing {
    margin: 0 -10px; }
    .flex.flex-spacing > .cell {
      margin: 0 5px; }
      @media screen and (min-width: 0px) {
        .flex.flex-spacing > .cell.small-1 {
          width: calc(0.08333 * 100% - 10px); }
        .flex.flex-spacing > .cell.small-2 {
          width: calc(0.16667 * 100% - 10px); }
        .flex.flex-spacing > .cell.small-3 {
          width: calc(0.25 * 100% - 10px); }
        .flex.flex-spacing > .cell.small-4 {
          width: calc(0.33333 * 100% - 10px); }
        .flex.flex-spacing > .cell.small-5 {
          width: calc(0.41667 * 100% - 10px); }
        .flex.flex-spacing > .cell.small-6 {
          width: calc(0.5 * 100% - 10px); }
        .flex.flex-spacing > .cell.small-7 {
          width: calc(0.58333 * 100% - 10px); }
        .flex.flex-spacing > .cell.small-8 {
          width: calc(0.66667 * 100% - 10px); }
        .flex.flex-spacing > .cell.small-9 {
          width: calc(0.75 * 100% - 10px); }
        .flex.flex-spacing > .cell.small-10 {
          width: calc(0.83333 * 100% - 10px); }
        .flex.flex-spacing > .cell.small-11 {
          width: calc(0.91667 * 100% - 10px); }
        .flex.flex-spacing > .cell.small-12 {
          width: calc(1 * 100% - 10px); } }
      @media screen and (min-width: 640px) {
        .flex.flex-spacing > .cell.medium-1 {
          width: calc(0.08333 * 100% - 10px); }
        .flex.flex-spacing > .cell.medium-2 {
          width: calc(0.16667 * 100% - 10px); }
        .flex.flex-spacing > .cell.medium-3 {
          width: calc(0.25 * 100% - 10px); }
        .flex.flex-spacing > .cell.medium-4 {
          width: calc(0.33333 * 100% - 10px); }
        .flex.flex-spacing > .cell.medium-5 {
          width: calc(0.41667 * 100% - 10px); }
        .flex.flex-spacing > .cell.medium-6 {
          width: calc(0.5 * 100% - 10px); }
        .flex.flex-spacing > .cell.medium-7 {
          width: calc(0.58333 * 100% - 10px); }
        .flex.flex-spacing > .cell.medium-8 {
          width: calc(0.66667 * 100% - 10px); }
        .flex.flex-spacing > .cell.medium-9 {
          width: calc(0.75 * 100% - 10px); }
        .flex.flex-spacing > .cell.medium-10 {
          width: calc(0.83333 * 100% - 10px); }
        .flex.flex-spacing > .cell.medium-11 {
          width: calc(0.91667 * 100% - 10px); }
        .flex.flex-spacing > .cell.medium-12 {
          width: calc(1 * 100% - 10px); } }
      @media screen and (min-width: 1024px) {
        .flex.flex-spacing > .cell.large-1 {
          width: calc(0.08333 * 100% - 10px); }
        .flex.flex-spacing > .cell.large-2 {
          width: calc(0.16667 * 100% - 10px); }
        .flex.flex-spacing > .cell.large-3 {
          width: calc(0.25 * 100% - 10px); }
        .flex.flex-spacing > .cell.large-4 {
          width: calc(0.33333 * 100% - 10px); }
        .flex.flex-spacing > .cell.large-5 {
          width: calc(0.41667 * 100% - 10px); }
        .flex.flex-spacing > .cell.large-6 {
          width: calc(0.5 * 100% - 10px); }
        .flex.flex-spacing > .cell.large-7 {
          width: calc(0.58333 * 100% - 10px); }
        .flex.flex-spacing > .cell.large-8 {
          width: calc(0.66667 * 100% - 10px); }
        .flex.flex-spacing > .cell.large-9 {
          width: calc(0.75 * 100% - 10px); }
        .flex.flex-spacing > .cell.large-10 {
          width: calc(0.83333 * 100% - 10px); }
        .flex.flex-spacing > .cell.large-11 {
          width: calc(0.91667 * 100% - 10px); }
        .flex.flex-spacing > .cell.large-12 {
          width: calc(1 * 100% - 10px); } }
  @media screen and (min-width: 0px) {
    .flex > .cell.small-1 {
      width: calc(0.08333 * 100%); }
    .flex > .cell.small-2 {
      width: calc(0.16667 * 100%); }
    .flex > .cell.small-3 {
      width: calc(0.25 * 100%); }
    .flex > .cell.small-4 {
      width: calc(0.33333 * 100%); }
    .flex > .cell.small-5 {
      width: calc(0.41667 * 100%); }
    .flex > .cell.small-6 {
      width: calc(0.5 * 100%); }
    .flex > .cell.small-7 {
      width: calc(0.58333 * 100%); }
    .flex > .cell.small-8 {
      width: calc(0.66667 * 100%); }
    .flex > .cell.small-9 {
      width: calc(0.75 * 100%); }
    .flex > .cell.small-10 {
      width: calc(0.83333 * 100%); }
    .flex > .cell.small-11 {
      width: calc(0.91667 * 100%); }
    .flex > .cell.small-12 {
      width: calc(1 * 100%); } }
  @media screen and (min-width: 640px) {
    .flex > .cell.medium-1 {
      width: calc(0.08333 * 100%); }
    .flex > .cell.medium-2 {
      width: calc(0.16667 * 100%); }
    .flex > .cell.medium-3 {
      width: calc(0.25 * 100%); }
    .flex > .cell.medium-4 {
      width: calc(0.33333 * 100%); }
    .flex > .cell.medium-5 {
      width: calc(0.41667 * 100%); }
    .flex > .cell.medium-6 {
      width: calc(0.5 * 100%); }
    .flex > .cell.medium-7 {
      width: calc(0.58333 * 100%); }
    .flex > .cell.medium-8 {
      width: calc(0.66667 * 100%); }
    .flex > .cell.medium-9 {
      width: calc(0.75 * 100%); }
    .flex > .cell.medium-10 {
      width: calc(0.83333 * 100%); }
    .flex > .cell.medium-11 {
      width: calc(0.91667 * 100%); }
    .flex > .cell.medium-12 {
      width: calc(1 * 100%); } }
  @media screen and (min-width: 1024px) {
    .flex > .cell.large-1 {
      width: calc(0.08333 * 100%); }
    .flex > .cell.large-2 {
      width: calc(0.16667 * 100%); }
    .flex > .cell.large-3 {
      width: calc(0.25 * 100%); }
    .flex > .cell.large-4 {
      width: calc(0.33333 * 100%); }
    .flex > .cell.large-5 {
      width: calc(0.41667 * 100%); }
    .flex > .cell.large-6 {
      width: calc(0.5 * 100%); }
    .flex > .cell.large-7 {
      width: calc(0.58333 * 100%); }
    .flex > .cell.large-8 {
      width: calc(0.66667 * 100%); }
    .flex > .cell.large-9 {
      width: calc(0.75 * 100%); }
    .flex > .cell.large-10 {
      width: calc(0.83333 * 100%); }
    .flex > .cell.large-11 {
      width: calc(0.91667 * 100%); }
    .flex > .cell.large-12 {
      width: calc(1 * 100%); } }

.site-header {
  height: 100px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  background: white;
  box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.31); }
  .site-header > nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .site-header > nav > a {
      display: inline-block;
      text-decoration: none;
      font-size: 18px;
      color: black;
      font-family: "Poppins", sans-serif; }
      .site-header > nav > a + a {
        margin-left: 30px; }
      .site-header > nav > a:hover {
        text-decoration: underline; }

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

main {
  margin-top: 100px; }

pre.code {
  font-family: "Source Code Pro", monospace;
  white-space: pre-wrap; }

.grid-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px; }

.home-euler {
  margin-top: 200px;
  margin-bottom: 75px; }
  .home-euler__intro {
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.31); }
    .home-euler__intro h3 {
      margin-bottom: 30px; }
  .home-euler pre.code {
    padding: 25px;
    border-radius: 15px;
    background: #413a3a;
    box-shadow: 0 2px 5px 5px rgba(65, 58, 58, 0.31);
    color: white; }

.training {
  margin-top: 200px; }

.grade-pyramid {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #e9e9e9;
  padding: 30px 15px 15px 30px;
  box-shadow: 0 2px 5px 5px rgba(233, 233, 233, 0.31); }
  .grade-pyramid .title {
    margin-bottom: 30px; }
    .grade-pyramid .title p {
      font-size: 20px;
      font-weight: 600; }
  .grade-pyramid .grade-info {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px; }
    .grade-pyramid .grade-info .grade-count {
      width: 50px;
      text-align: center;
      font-size: 18px;
      font-weight: bold; }
  .grade-pyramid .grade-bar {
    height: 35px;
    display: flex;
    text-align: center;
    margin: 0 auto;
    border-radius: 2px;
    position: relative;
    justify-content: center; }
    .grade-pyramid .grade-bar p {
      position: absolute;
      align-self: center;
      font-weight: bold;
      color: white; }
    .grade-pyramid .grade-bar .grade-bar__segment {
      height: 100%; }
      .grade-pyramid .grade-bar .grade-bar__segment.redpoint {
        background: #ff1000; }
      .grade-pyramid .grade-bar .grade-bar__segment.flash {
        background: #fba000; }
      .grade-pyramid .grade-bar .grade-bar__segment.onsight {
        background: #0088fb; }
